.container {
  margin: 0 0 0 0;
  padding: 0;
}

header {
  background-image: url('./img/viorelGrandCanyon.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position:relative;
  text-align: center;
  height: 650px;
  width: 100%;
}
.header {
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.topHeader {
  height: 100px;
  text-align: center;
  margin-top: 100px;
}

#linkedin {
  padding-left: 20px;
  height: 45px;
  width: 45px;
}

#github {
  margin-left: 20px;
  height: 45px;
  width: 45px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.links_ul {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 363px;
  padding: 20px 0px 15px 0px;
  list-style-type: none;
}

.links_ul2 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0px 15px 0px;
  list-style-type: none;
}

#email {
  font-size: 30px;
  color: white;
}

#phone {
  padding-left: 20px;
  font-size: 30px;
  color: white;
}

.links_li {
  display: inline;
}

.title {
  color: rgba(255, 255, 255, 1);;
  font-size: 120px
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}
.aboutMe {
  padding: 0 auto;
  background-image: url('./img/white_background.jpg');
  perspective: 1px;
  background-attachment: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  height: 850px;
}

.aboutMeOverlay {
  background-color: rgba(0, 0, 0, 0.5);
}

#aboutMe_title {
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 50px;
  font-size: 45px;
  color: black;
}

.aboutMe_profile_accomplishments {
  display: flex;
  justify-content: space-around;
}
.aboutMe_pic_p {
  width: 40vw;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.aboutMe_profile_pic {
  width: 290px;
  height: 190px;
  border-radius: 20px;
  margin-top: 15px;
}

.aboutMe_p {
  margin: 0 auto;
}

.skillbox {
  text-align: center;
}

#skillTitle {
  font-size: 50px;
}
.skill_ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skill_li {
  display: inline-block;
}

.skillImage {
  width: 100px;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

#css3{
  width: 72px;
  height: 100px;
}

#react{
  width: 86px;
  height: 100px;
}

#rails{
  width: 78px;
  height: 100px;
}
#nodejs{
  width: 163px;
  height: 100px;
}
#express{
  width: 300px;
  height: 100px;
}

.projects {
  background-image: url('./img/blue_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 650px;

}

.projects_overlay {
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#projects_title {
  color: white;
  font-size: 45px;
}

#all_projects {
  margin: 0 auto;
}

.projects_panel {
  width: 300px;
  height: 350px;
  margin: 0 10px 0 10px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-bottom-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

#polichange_title {
  padding-top: 45px;
  text-align: center;
  color: white;
}

#polichange_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

#polichange_image {
  margin: 0 auto;
  text-decoration: none;
}

#polichange_image_link {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#poliChangeLogo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#polichange_p {
  color: white;
  padding: 0px 5px 0px 5px;
}

.footer {
  background-color: black;
  height: 50px;
}

#footer_linkedin {
  padding-left: 7px;
  height: 15px;
  width: 15px;
}

#footer_github {
  margin-left: 7px;
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
}

.footer_ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer_email {
  font-size: 20px;
  color: white;
}

#footer_phone {
  padding-left: 7px;
  font-size: 20px;
  color: white;
}

.footer_li {
  display: inline;
}

@media only screen and (max-width: 900px) {
  .aboutMe {
    padding: 0 auto;
    background-image: url('./img/white_background.jpg');
    perspective: 1px;
    background-attachment: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 900px;
  }

  .aboutMe_profile_accomplishments {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .aboutMe {
    padding: 0 auto;
    background-image: url('./img/white_background.jpg');
    perspective: 1px;
    background-attachment: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 950px;
  }

  .aboutMe_profile_accomplishments {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 750px) {

  header {
    background-image: url('./img/viorelGrandCanyon.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
    text-align: center;
    height: 760px;
    width: 100%;
  }
  .header {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .topHeader {
    height: 100px;
    text-align: center;
    margin-top: 100px;
  }

  #linkedin {
    padding-left: 20px;
    padding-bottom: 5px;
    margin-top: 10px;
    height: 45px;
    width: 45px;
  }

  #github {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 45px;
    width: 45px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
  }

  .links_ul {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 395px;
    padding: 20px 0px 15px 0px;
    list-style-type: none;
  }

  .links_ul2 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0px 15px 0px;
    list-style-type: none;
  }
  #email {
    font-size: 30px;
    color: white;
  }

  #phone {
    padding-left: 20px;
    font-size: 30px;
    color: white;
  }

  .links_li {
    padding-top: 5px;
    display: block;
  }

  .links_li2 {
    display: inline;
  }

  .title {
    color: rgba(255, 255, 255, 1);;
    font-size: 120px
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .aboutMe {
    padding: 0 auto;
    background-image: url('./img/white_background.jpg');
    perspective: 1px;
    background-attachment: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 1100px;
  }

  .aboutMe_profile_accomplishments {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .aboutMe_pic_p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 290px;
  }

  .aboutMe_profile_pic {
    padding-bottom: 20px;
  }

  .aboutMe_p {
    width: 250px;
  }

  .skill_li {
    padding-top: 10px;
  }
}
